<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <img src="https://www.honda.com.vn/asserts/images/home/home-logo-small.png">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse panner" >
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">Trang chủ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/products/moto">Xe máy</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Ô tô</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">MY HONDA+</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Đấu thầu</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Tuyển dụng</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Hỗ trợ</a>
        </li>

      </ul>
<!--      <form class="form-inline my-2 my-lg-0">-->
<!--        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">-->
<!--&lt;!&ndash;        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>&ndash;&gt;-->
<!--      </form>-->
    </div>
  </nav>
</div>


